<!DOCTYPE HTML>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" >
<body>
<th:block layout:fragment="content">

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Samochody</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id oferty</th>
                            <th>Vin</th>
                            <th>Rok produkcji</th>
                            <th>Rok rejestracji</th>
                            <th>Kraj pochodzenia</th>
                            <th>Marka</th>
                            <th>Model</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="car : ${cars}">
                            <td th:text="${car.getId()}">Id</td>
                            <td th:text="${car.getVin()}">Vin</td>
                            <td th:text="${car.getRokProdukcji()}">Rok produkcji</td>
                            <td th:text="${car.getRokRejestracji()}">Rok rejestracji</td>
                            <td th:text="${car.getKrajPochodzenia()}">Kraj pochodzenia</td>
                            <td th:text="${car.getMarka()}">Marka</td>
                            <td th:text="${car.getModel()}">Model</td>
                        </tr>
                        </tbody>
                    </table>
                    <input class="btn btn-primary" type="shop" value="Kup"/>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>