<!DOCTYPE HTML>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" >
<body>
<th:block layout:fragment="content">

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Wyszukaj samochod</div>
                <div class="panel-body">
                    <form th:object="${car}" th:action="@{/cars}" method="get">
                        <input type="text" name="search" id="search" th:value="${search}"/>
                        <input type="submit" value="Search"/>
                        <div th:if="${not #lists.isEmpty(search)}"> </div>
                        <div class="panel-heading">Samochody</div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Vin</th>
                                    <th>Rok produkcji</th>
                                    <th>Rok rejestracji</th>
                                    <th>Kraj pochodzenia</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="car : ${cars}">
                                    <td th:text="${car.getId}">Id</td>
                                    <td th:text="${car.getVin()}">Vin</td>
                                    <td th:text="${car.getRokProdukcji}">Rok produkcji</td>
                                    <td th:text="${car.getRokRejestracji}">Rok rejestracji</td>
                                    <td th:text="${car.getKrajPochodzenia()}">Kraj pochodzenia</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </form>
                </div>
                <div class="panel-footer"><span th:text="${message}">Status</span></div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>