<!DOCTYPE HTML>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" >
<body>
<th:block layout:fragment="content">

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Dodaj nowy samochod</div>
                <div class="panel-body">
                    <form method="post" class="form-group" action="/car">
                        <div class="form-group">
                            <label for="id">Id:&nbsp;</label>
                            <input class="form-control" type="number" name="id" id="id" maxlength="10"/>
                        </div>

                        <div class="form-group">
                            <label for="vin">VIN:&nbsp;</label>
                            <input class="form-control" type="text" name="name" id="vin" maxlength="50"/>
                        </div>

                        <div class="form-group">
                            <label for="rokProdukcji">Rok produkcji:&nbsp;</label>
                            <input class="form-control" type="date" name="dateOfBirth" id="rokProdukcji" maxlength="20"/>
                        </div>

                        <div class="form-group">
                            <label for="rokRejestracji">Rok rejestracji:&nbsp;</label>
                            <input class="form-control" type="date" name="dateOfBirth" id="rokRejestracji" maxlength="20"/>
                        </div>

                        <div class="form-group">
                            <label for="krajPochodzenia">Kraj pochodzenia:&nbsp;</label>
                            <input class="form-control" type="text" name="dateOfBirth" id="krajPochodzenia" maxlength="20"/>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Dodaj"/>

                    </form>
                </div>
                <div class="panel-footer"><span th:text="${message}">Status</span></div>
            </div>
        </div>

        <div class="col-md-8 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">Samochody</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Vin</th>
                            <th>Rok produkcji</th>
                            <th>Rok rejestracji</th>
                            <th>Kraj pochodzenia</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="car : ${cars}">
                            <td th:text="${car.getId}">Id</td>
                            <td th:text="${car.getVin()}">Vin</td>
                            <td th:text="${car.getRokProdukcji}">Rok produkcji</td>
                            <td th:text="${car.getRokRejestracji}">Rok rejestracji</td>
                            <td th:text="${car.getKrajPochodzenia()}">Kraj pochodzenia</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>